canvas {
  background: black;
}
body {
  margin: 0px;
  /* box-sizing: border-box; */
}
img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}
a {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  transition: all 0.5s;
}
a:hover {
  font-size: 3em;
  text-decoration: none;
  color: white;
}
